<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zoo.mapper.erp.purchase.SupplierMapper">
	<resultMap type="com.zoo.model.erp.purchase.Supplier" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column="createTime" property="createTime"/>
		<result column="supplierAddress" property="supplierAddress"/>
		<result column="supplierTelphone" property="supplierTelphone"/>
		<result column="supplierName" property="supplierName"/>
		<result column="supplierEmail" property="supplierEmail"/>
		<result column="cellphone" property="cellphone"/>
		<result column="type" property="type"/>
		<result column="gtime" property="gtime"/>
		<result column="countryId" property="countryId"/>
		<result column="cityId" property="cityId"/>
		<result column="provinceId" property="provinceId"/>
		<result column="countyId" property="countyId"/>
		<result column="companyId" property="companyId"/>
		<result column="remarks" property="remarks"/>
		
		<association column="ownerId" property="owner" select="com.zoo.mapper.system.user.SystemUserMapper.getUserById"></association>
		<association column="systemUserId" property="systemUser"  select="com.zoo.mapper.system.user.SystemUserMapper.getUserById"></association>
		<association column="countryId" property="country"  select="com.zoo.mapper.system.area.AreaMapper.getAreaById"></association>
		<association column="provinceId" property="province"  select="com.zoo.mapper.system.area.AreaMapper.getAreaById"></association>
		<association column="cityId" property="city"  select="com.zoo.mapper.system.area.AreaMapper.getAreaById"></association>
		<association column="countyId" property="county"  select="com.zoo.mapper.system.area.AreaMapper.getAreaById"></association>
		<collection column="id" property="contacts" select="com.zoo.mapper.erp.purchase.ContactMapper.getContactById"></collection>
		<collection column="id" property="supplierAccounts" select="com.zoo.mapper.erp.purchase.SupplierAccountMapper.getSupplierAccountsById"></collection>
		
		
	</resultMap>
	<!-- 分页查询 -->
	<select id = "getSupplierByPage" resultMap = "BaseResultMap">
		select DISTINCT
			s.* 
		from 
			supplier s left join supplier_contact sc on sc.supplierId = s.id
		where 1=1 
		<if test="companyId!=null">
			and s.companyId=#{companyId}
		</if>
		<if test="keywords!=null and keywords!=''">
			and (s.supplierName like concat('%',#{keywords},'%') or sc.name like concat('%',#{keywords},'%'))
		</if>
		<if test="supplierName!=null and supplierName!=''">
			and s.supplierName like concat('%',#{supplierName},'%')
		</if>
		<if test="linkman!=null and linkman!=''">
			and sc.name like concat('%',#{linkman},'%')
		</if>
		<if test="start_gtime!=null and start_gtime!=''">
			AND s.gtime <![CDATA[ >= ]]> #{start_gtime}
		</if>
		<if test="end_gtime!=null and end_gtime!=''">
			AND s.gtime <![CDATA[ <= ]]> #{end_gtime}
		</if>
		<if test="start_createTime!=null and start_createTime!=''">
			AND s.createTime <![CDATA[ >= ]]> #{start_createTime}
		</if>
		<if test="end_createTime!=null and end_createTime!=''">
			AND s.createTime<![CDATA[ <= ]]> #{end_createTime}
		</if>
		<if test="owner!=null and owner!=''">
			AND s.ownerId = #{owner}
		</if>
		order by ${sort} ${order}
		<if test="start != null and size != null">
			limit #{start}, #{size}
		</if>
	</select>
	
	<select id="getCount" resultType="long">
		select 
			count(DISTINCT s.id) 
		from 
			supplier s left join supplier_contact sc on sc.supplierId = s.id
		where 1=1
		<if test="companyId!=null">
			and s.companyId=#{companyId}
		</if>
		<if test="keywords!=null and keywords!=''">
			and (s.supplierName like concat('%',#{keywords},'%') or sc.name like concat('%',#{keywords},'%'))
		</if>
		<if test="supplierName!=null and supplierName!=''">
			and s.supplierName like concat('%',#{supplierName},'%')
		</if>
		<if test="linkman!=null and linkman!=''">
			and sc.name like concat('%',#{linkman},'%')
		</if>
		<if test="start_gtime!=null and start_gtime!=''">
			AND s.gtime <![CDATA[ >= ]]> #{start_gtime}
		</if>
		<if test="end_gtime!=null and end_gtime!=''">
			AND s.gtime <![CDATA[ <= ]]> #{end_gtime}
		</if>
		<if test="start_createTime!=null and start_createTime!=''">
			AND s.createTime <![CDATA[ >= ]]> #{start_createTime}
		</if>
		<if test="end_createTime!=null and end_createTime!=''">
			AND s.createTime<![CDATA[ <= ]]> #{end_createTime}
		</if>
		<if test="owner!=null and owner!=''">
			AND s.ownerId = #{owner}
		</if>
	</select>
	<select id="getSupplierById" resultMap="BaseResultMap">
		select * from supplier where id=#{id}
	</select>
	<insert id="add">
		insert into supplier(
			id,
			createTime,
			supplierAddress,
			supplierTelphone,
			supplierName,
			supplierEmail,
			cellphone,
			type,
			gtime,
			countryId,
			cityId,
			provinceId,
			countyId,
			companyId,
			systemUserId,
			ownerId,
			remarks
		) values(
			#{supplier.id},
			#{supplier.createTime},
			#{supplier.supplierAddress},
			#{supplier.supplierTelphone},
			#{supplier.supplierName},		
			#{supplier.supplierEmail},
			#{supplier.cellphone},
			#{supplier.type},
			#{supplier.gtime},
			#{supplier.countryId},
			#{supplier.cityId},			
			#{supplier.provinceId},
			#{supplier.countyId},
			#{supplier.companyId},
			#{supplier.systemUserId},
			#{supplier.ownerId},
			#{supplier.remarks}
			
		)
	</insert>
	
	<update id="update">
		update supplier set 
			supplierAddress=#{supplier.supplierAddress},
			supplierTelphone=#{supplier.supplierTelphone},
			supplierName=#{supplier.supplierName},
			supplierEmail=#{supplier.supplierEmail},
			cellphone=#{supplier.cellphone},
			type=#{supplier.type},
			gtime=#{supplier.gtime},
			countryId=#{supplier.countryId},
			cityId=#{supplier.cityId},
			provinceId=#{supplier.provinceId},
			countyId=#{supplier.countyId},
			companyId=#{supplier.companyId},
			systemUserId=#{supplier.systemUser.id},
			ownerId=#{supplier.owner.id},
			remarks=#{supplier.remarks} 
		where id = #{supplier.id}
	</update>
	
</mapper>