<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoo.mapper.flow.HistoryActionMapper">

<select id="getHistoryActionByProcessInstanceId" resultType="com.zoo.model.flow.HistoryAction">
	
	SELECT 
		aha.ACT_NAME_ actName,
		aha.ACT_TYPE_ actType,
		aha.ASSIGNEE_ assignee,
		aha.START_TIME_ stime,
		aha.END_TIME_ etime,
		aha.DURATION_ duration,
		ahc.MESSAGE_ message,
		CASE aha.ACT_TYPE_ 
		WHEN 'startEvent'

		THEN (SELECT su.realName FROM act_hi_identitylink ahi left JOIN system_user su on ahi.USER_ID_=su.id WHERE ahi.TYPE_='starter'  AND ahi.PROC_INST_ID_=aha.PROC_INST_ID_)

		ELSE

		(SELECT su.realName FROM system_user su where su.id=aha.ASSIGNEE_)
		END assigneeName
	from 
		act_hi_actinst aha LEFT JOIN act_hi_comment ahc on aha.TASK_ID_ = ahc.TASK_ID_

	WHERE 
		aha.PROC_INST_ID_=#{processInstanceId} AND aha.ACT_TYPE_!='parallelGateway' 
		
		
	ORDER BY actType desc,stime desc
</select>
    
</mapper>