<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoo.mapper.erp.outbound.OutboundDetailMapper">
	<resultMap type="com.zoo.model.erp.outbound.OutboundDetail" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column="number" property="number"/>
		<association column="productId"   property="product" select="com.zoo.mapper.erp.product.ProductMapper.getProductById"></association>
		<association column="goodsAllocationId"   property="goodsAllocation" select="com.zoo.mapper.erp.warehouse.GoodsAllocationMapper.getGoodsAllocationById"></association>
	</resultMap>
	<select id="getDetailByOuboundForeignKey" resultMap="BaseResultMap">
		select od.* from outbound_detail od left join outbound o on od.outboundId=o.id where o.foreignKey=#{foreignKey}
	</select>
	<select id="getDetailByOutboundId" resultMap="BaseResultMap">
		select * from outbound_detail where outboundId=#{outboundId}
	</select>
	<select id="getDetailById" resultMap="BaseResultMap">
		select * from outbound_detail where id=#{id}
	</select>
	<insert id="addDetail">
		insert into outbound_detail (
			id,
			outboundId,
			productId,
			number,
			price,
			totalMoney,
			orderDetailId,
			goodsAllocationId,
			ctime
		)values(
			#{detail.id},
			#{detail.outboundId},
			#{detail.product.id},
			#{detail.number},
			#{detail.price},
			#{detail.totalMoney},
			#{detail.orderDetailId},
			#{detail.goodsAllocation.id},
			#{detail.ctime}
		)
	</insert>
	<delete id="deleteByOutboundId">
		delete from outbound_detail where outboundId=#{outboundId}
	</delete>
	
	<update id="update">
		update outbound_detail set 
			number = #{detail.number}
		where id = #{detail.id}
	</update>
	<delete id="deleteDetailById">
		delete from outbound_detail where id=#{id}
	</delete>
</mapper>