<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoo.mapper.erp.outbound.OutboundMapper">
	<resultMap type="com.zoo.model.erp.outbound.Outbound" id="BaseResultMap">
		<id column="id" property="id"/>
		
		<collection column="id" property="details" select="com.zoo.mapper.erp.outbound.OutboundDetailMapper.getDetailByOutboundId"></collection>
	</resultMap>
	<select id="getOutboundsByPage" resultMap="BaseResultMap">
		select DISTINCT
			o.* 
		from 
			outbound o left join warehouse w on o.warehouseId = w.id 
						left join outbound_detail od on od.outboundId=o.id 
						left join product p on od.productId = p.id
		where w.companyId=#{companyId}
		<if test="keywords!=null and keywords!=''">
			AND (o.code like concat('%',#{keywords}'%') or p.code like concat('%',#{keywords}'%') or p.name like concat('%',#{keywords}'%'))
		</if>
		<if test="code!=null and code!=''">
			AND o.code like concat('%',#{code},'%')
		</if>
		<if test="productCode !=null and productCode!=''">
			AND p.code like concat('%',#{productCode},'%')
		</if>
		<if test="productName !=null and productName!=''">
			AND p.name like concat('%',#{productName},'%')
		</if>
		<if test="type !=null and type!=''">
			AND o.type=#{type}
		</if>
		<if test="warehouseId !=null and warehouseId!=''">
			AND o.warehouseId=#{warehouseId}
		</if>
		<if test="start_ctime!=null and start_ctime!=''">
			AND o.ctime <![CDATA[ >= ]]> #{start_ctime}
		</if>
		<if test="end_ctime!=null and end_ctime!=''">
			AND o.ctime <![CDATA[ <= ]]> #{end_ctime}
		</if>
		order by ${sort} ${order}
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	<select id="getTotalCount" resultType="long">
		select 
			count(DISTINCT o.id) 
		from outbound o left join warehouse w on o.warehouseId = w.id 
						left join outbound_detail od on od.outboundId=o.id 
						left join product p on od.productId = p.id
		where w.companyId=#{companyId}
		<if test="keywords!=null and keywords!=''">
			AND (o.code like concat('%',#{keywords}'%') or p.code like concat('%',#{keywords}'%') or p.name like concat('%',#{keywords}'%'))
		</if>
		<if test="code!=null and code!=''">
			AND o.code like concat('%',#{code},'%')
		</if>
		<if test="productCode !=null and productCode!=''">
			AND p.code like concat('%',#{productCode},'%')
		</if>
		<if test="productName !=null and productName!=''">
			AND p.name like concat('%',#{productName},'%')
		</if>
		<if test="type !=null and type!=''">
			AND o.type=#{type}
		</if>
		<if test="warehouseId !=null and warehouseId!=''">
			AND o.warehouseId=#{warehouseId}
		</if>
		<if test="start_ctime!=null and start_ctime!=''">
			AND o.ctime <![CDATA[ >= ]]> #{start_ctime}
		</if>
		<if test="end_ctime!=null and end_ctime!=''">
			AND o.ctime <![CDATA[ <= ]]> #{end_ctime}
		</if>
	</select>
	<select id="getOutboundByCostId" resultMap="BaseResultMap">
		select * from outbound where costId=#{costId}
	</select>
	<select id="getOutboundByForeignKey" resultMap="BaseResultMap">
		select * from outbound where foreignKey=#{foreignKey}
	</select>
	<insert id="addOutbound">
		insert into outbound (
			id,
			code,
			foreignKey,
			cuserId,
			warehouseId,
			ctime,
			type,
			costId
		)values(
			#{outbound.id},
			#{outbound.code},
			#{outbound.foreignKey},
			#{outbound.cuserId},
			#{outbound.warehouse.id},
			#{outbound.ctime},
			#{outbound.type},
			#{outbound.cost.id}
		)
	</insert>
	<delete id="deleteByCostId">
		delete from outbound where costId=#{costId}
	</delete>
	
</mapper>