<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoo.mapper.erp.product.ProductMapper">
	<resultMap type="com.zoo.model.erp.product.Product" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column="typeId" property="typeId"/>
		<result column="name" property="name"/>
		<result column="code" property="code"/>
		<result column="companyId" property="companyId"/>
		<result column="ctime" property="ctime"/>
		<result column="mnemonic" property="mnemonic"/>
		<association column="brandId"   property="productBrand" select="com.zoo.mapper.erp.product.ProductBrandMapper.getBrandById"></association>
		<association column="unitId"   property="unit" select="com.zoo.mapper.erp.product.UnitMapper.getUnitById"></association>
	</resultMap>
	<select id="getProductByPage" resultMap="BaseResultMap">
		select * from product where deleted!=1
		<if test="companyId!=null">
			and companyId = #{companyId}
		</if>
		<if test="typeId != null and typeId != '' ">
			and typeId = #{typeId} 
		</if>
		<if test="keywords != null and keywords != '' ">
			and (name like concat('%', #{keywords}, '%') or code like concat('%', #{keywords}, '%'))   
		</if>
		order by ctime desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	<select id="getCount" resultType="Long">
		select count(*) from product where  deleted!=1
		<if test="companyId!=null">
			and companyId = #{companyId}
		</if>
		<if test="typeId != null and typeId != '' ">
			and typeId = #{typeId} 
		</if>
		<if test="keywords != null and keywords != '' ">
			and (name like concat('%', #{keywords}, '%') or code like concat('%', #{keywords}, '%'))   
		</if>
	</select>
	<select id="getProductByTypeId" resultMap="BaseResultMap">
		select * from product where deleted != 1 
		<if test="companyId != null">
			and companyId = #{companyId} 
		</if>
		<if test="typeId != null">
			and typeId = #{typeId}
		</if>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	<select id="getCountByTypeId" resultType="Long">
		select count(*) from product where deleted != 1 
		<if test="companyId != null">
			and companyId = #{companyId} 
		</if>
		<if test="typeId != null">
			and typeId = #{typeId}
		</if>
	</select>
	<select id="getProductById" resultMap="BaseResultMap">
		select * from product where id=#{id}
	</select>
	
	<insert id="addProduct">
		insert into 
			product (
				id,
				name,
				code,
				typeId,
				brandId,
				unitId,
				spec,
				weight,
				color,
				puse,
				description,
				companyId,
				ctime,
				imageUrl,
				mnemonic
			) values(
				#{product.id},
				#{product.name},
				#{product.code},
				#{product.typeId},
				#{product.productBrand.id},
				#{product.unit.id},
				#{product.spec},
				#{product.weight},
				#{product.color},
				#{product.puse},
				#{product.description},
				#{product.companyId},
				#{product.ctime},
				#{product.imageUrl},
				#{product.mnemonic}
			)
	</insert>
	<update id="updateProduct">
		update product set 
			name=#{product.name},
			typeId=#{product.typeId},
			brandId=#{product.productBrand.id},
			unitId=#{product.unit.id},
			spec=#{product.spec},
			weight=#{product.weight},
			color=#{product.color},
			puse=#{product.puse},
			description=#{product.description},
			imageUrl=#{product.imageUrl},
			mnemonic=#{mnemonic}
		where id=#{product.id}
	</update>
	<update id="deleteProductById">
		update product set 
			deleted = 1 
		where id in 
		<foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
	</update>
	<update id="updateHasBom">
		update product set hasBom=#{hasBom} where id=#{id}
	</update>
</mapper>