<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoo.mapper.erp.aftersales.replenishmentnote.ReplenishmentNoteDetailMapper">
	<resultMap type="com.zoo.model.erp.aftersales.replenishmentnote.ReplenishmentNoteDetail" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column="replenishmentNoteId" property="replenishmentNoteId"/>
		<result column="type" property="type"/>
		<result column="number" property="number"/>
		<result column="costPrice" property="costPrice"/>
		<result column="totalMoney" property="totalMoney"/>
		<result column="ctime" property="ctime"/>
		<result column="reason" property="reason"/>
		<result column="problemDescription" property="problemDescription"/>
		<association column="skuId" property="productSku" select="com.zoo.mapper.erp.product.ProductSkuMapper.getSkuById"></association>
	</resultMap>
	
	<select id="getDetailByReplenishmentNoteId"  resultMap="BaseResultMap">
		select * from replenishment_note_datial where replenishmentNoteId= #{replenishmentNoteId}
	</select>
	
	<select id="getDetailById"  resultMap="BaseResultMap">
		select * from replenishment_note_datial where id= #{id}
	</select>
	
	<insert id="addDetail">
		insert into replenishment_note_datial (
			id,
			replenishmentNoteId,
			skuId,
			type,
			number,
			costPrice,
			totalMoney,
			ctime,
			reason,
			problemDescription
		)values(
			#{detail.id},
			#{detail.replenishmentNoteId},
			#{detail.productSku.id},
			#{detail.type},
			#{detail.number},
			#{detail.costPrice},
			#{detail.totalMoney},
			#{detail.ctime},
			#{detail.reason},
			#{detail.problemDescription}
		)
	</insert>
	
	<update id="updateDetail">
		update replenishment_note_datial set	
			skuId=#{detail.productSku.id},
			number=#{detail.number},
			costPrice=#{detail.costPrice},
			totalMoney=#{detail.totalMoney},
			ctime=#{detail.ctime},
			reason=#{detail.reason},
			problemDescription=#{detail.problemDescription} 
		where id=#{detail.id}
	</update>
	
	<update id="updateNumberById">
		update replenishment_note_datial set 
			number=#{number},
			costPrice=#{costPrice},
			totalMoney=#{totalMoney} 
		where id=#{id}
	</update>
	
	<delete id="deleteDetailByReplenishmentNoteId">
		delete from replenishment_note_datial where replenishmentNoteId=#{replenishmentNoteId}
	</delete>
	
	<delete id="deleteDetailById">
		delete from replenishment_note_datial where id in 
		<foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
	</delete>
	
</mapper>